.error {
  color: #FF6060;
}

.commun-error {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 200px;
}

.error span {
  font-size: 250px;
  font-weight: bold;
}

.error h4 {
  font-size: 36px;
  margin: 30px;
  margin-bottom: 150px;
}

.error a {
  color: #FF6060;
  font-size: 18px;
  text-decoration: underline;
}

.error p {
  padding-top: 50px;
}

@media (min-width: 401px) and (max-width: 550px) {
  .error span { font-size: 180px; }
}

@media (max-width: 400px) {
  .error {      margin: auto 0; }
  .error span { font-size: 96px; }
  .error h4 {   font-size: 18px;margin-bottom: 100px; }
  .error a {    font-size: 14px;margin-bottom: 50px; }
}