

.detail-header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.bloc-host {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 15px;
  justify-content: center;
  text-align: right;
  width: 80%;
  color: #FF6060;
}

.bloc-host span {
  place-items: center;
}

.bloc-star {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.host-star {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bloc-star {
  display: flex;
  gap: 10px;
  color: #FF6060;
}

.bloc-host img {
  height: 50px;
  box-shadow: 0px 0px 5px gray;
}

.logementdetail h4 {
  color: #FF6060;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 18px;
}

.logementdetail h1 {
  color: #FF6060;
  width: 90%;
  margin: 0;
  font-size: 36px;
}

.ul-tags {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
}

.tags {
  display: flex;
  align-items: center;
  padding-inline: 20px;
  padding-bottom: 2px;
  margin: 10px 20px 0 0;
  height: 25px;
  font-size: 14px;
  background-color: #FF6060;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.bloc-host {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 10px;
  width: 167px;
}

.bloc-host span {
  display: flex;
  text-align: right;
  font-size: 18px;
  width: 93px;
  height: 52px;
  align-items: center;
  color: #FF6060,
}

.bloc-host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-top: 15px;
}

.description-equipment {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.description-equipment li {
  list-style-type: none;
}





@media (max-width: 768px) {

  .detail-header,
  .description-equipment {
    display: block;
  }

  .host-star {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .bloc-star {
    align-items: center;
    justify-content: left;
  }

  .tags {
    font-size: 15px;
  }

}

@media (max-width: 450px) {

  .bloc-host {
    flex-direction: row-reverse;
    width: 67px;
  }

  .bloc-host img {
    margin-top: 0px;
    width: 32px;
    height: 32px;
  }

  .bloc-host span {
    font-size: 12px;
  }

  .logementdetail h1 {
    font-size: 18px;
  }

  .logementdetail h4 {
    font-size: 14px;
  }

  .tags {
    font-size: 10px;
  }
  .ul-tags {
    margin: 0;
  }

  .description-equipment {
    display: block;
    font-size: 12px;
  }
}