.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

img {
  width: 10rem;
}

.nav_list {
  display: flex;
  text-decoration: none;
}

.nav_list li {
  list-style: none;
  display: flex;
  font-size: 18px;
  justify-content: center;
  text-align: center;

}

.nav-link {
  text-decoration: none;
  color: #FF6060;
  margin: 1rem 0.5rem;
  padding: 0.2rem 0.7rem;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .nav-link {
    text-transform: uppercase;
    padding: 0.2rem 0rem;
  }

  .nav-link {
    font-size: 12px;
  }

  .nav_list li {
    gap: 10px;
  }

  .nav_link {
    justify-content: center;
  }
}