.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 87%;
  height: 68px;
  color: #FF6060;
  text-decoration: none;
}

.nav_list {
  display: flex;
}

.nav_list li {
  text-decoration: none;
  color: #FF6060;
  list-style: none;
  padding: 30px;
  font-size: 25px;
}

